
{{> header }}
<div class="container tm-mt-big tm-mb-big">
	<div class="row">
		<div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 mx-auto">
			<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
				<div class="row">
					<div class="col-12">
						<h2 class="tm-block-title d-inline-block">Thêm sản phẩm mới</h2>
					</div>
				</div>

				<form method="POST" action="/products/add" enctype="multipart/form-data" class="tm-edit-product-form">
					<div class="row tm-edit-product-row">
						<div class="col-xl-6 col-lg-6 col-md-12">
							<div class="form-group mb-3">
								<label for="name">Tên sản phẩm
								</label>
								<input id="name" name="name" type="text" class="form-control validate" required />
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12">
							<div class="form-group mb-3">
								<label for="price">Giá tiền
								</label>
								<input id="price" name="price" type="text" class="form-control validate" required />
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12">
							<div class="form-group mb-3">
								<label for="category">Phân loại </label>
								<select class="custom-select tm-select-accounts" onchange="getSubCategories(this)" id="productCategory" name="category">
									<option disabled selected hidden>-- Chọn --</option>
									{{#each categories}}
									<option value="{{category_id}}">{{category_name}}</option>
									{{/each}}
								</select>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12">
							<div class="form-group mb-3">
								<label for="category">Phân loại con</label>
								<select class="custom-select tm-select-accounts" id="productSubCategory" name="subCategory" required>
									<option value="" disabled selected hidden>-- Chọn --</option>
								</select>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12">
							<div class="form-group mb-3">
								<label for="category">Nhà sản xuất </label>
								<select class="custom-select tm-select-accounts" id="brand" name="brand">
									<option value="" disabled selected hidden>-- Chọn --</option>
									{{#each brands}}
									<option value="{{brand_id}}">{{brand_name}}</option>
									{{/each}}
								</select>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12">
							<div class="form-group mb-3">
								<label for="model_year">Năm sản xuất</label>
								<input id="model_year" name="model_year" type="text" class="form-control validate"
									data-large-mode="true" />
							</div>
						</div>
						
						<div class="col-xl-12 col-lg-12 col-md-12">
							<div class="form-group mb-3">
								<label for="descriptions">Mô tả chi tiết</label>
								<input id="descriptions" name="descriptions" type="descriptions"
									class="form-control validate" required />
							</div>
						</div>

						<div class="col-12">
							<div class="form-group mt-3">
								<label>Ảnh sản phẩm</label>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 col-ms-6 col-12 mx-auto mb-4">
							<div class="tm-product-img-dummy mx-auto">
								<label for="image1">
									<i class="fas fa-cloud-upload-alt tm-upload-icon"></i>
								</label>
								<input type="file" name="image1" id="image1" class="form-control validate" accept="image/*" required style="display: none;"/>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 col-ms-6 col-12 mx-auto mb-4">
							<div class="tm-product-img-dummy mx-auto">
								<label for="image2">
									<i class="fas fa-cloud-upload-alt tm-upload-icon"></i>
								</label>
								<input type="file" name="image2" id="image2" class="form-control validate" accept="image/*" required style="display: none;"/>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 col-ms-6 col-12 mx-auto mb-4">
							<div class="tm-product-img-dummy mx-auto">
								<label for="image3">
									<i class="fas fa-cloud-upload-alt tm-upload-icon"></i>
								</label>
								<input type="file" name="image3" id="image3" class="form-control validate" accept="image/*" required style="display: none;"/>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 col-ms-6 col-12 mx-auto mb-4">
							<div class="tm-product-img-dummy mx-auto">
								<label for="image4">
									<i class="fas fa-cloud-upload-alt tm-upload-icon"></i>
								</label>
								<input type="file" name="image4" id="image4" class="form-control validate" accept="image/*" required style="display: none;"/>
							</div>
						</div>
						
					</div>


					<div class="col-12">
						<button type="submit" class="btn btn-primary btn-block text-uppercase">Thêm sản phẩm</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	$('input[type=file]').change(function(e) {

		for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {

			var file = e.originalEvent.srcElement.files[i];

			var img = document.createElement("img");
			$(img).css('width', '100%');
			$(img).css('height', '200px');
			var reader = new FileReader();
			reader.onloadend = function() {
				img.src = reader.result;
			}
			reader.readAsDataURL(file);
			$(this).parent().find('label').html(img);
		}
	});
</script>