
{{> header }}
<div class="container mt-5">
	<div class="row tm-content-row">
		<div class="col-12 tm-block-col">

		</div>
	</div>
	<!-- row -->
	<div class="row tm-content-row">
		<div class="tm-block-col tm-col-avatar">
		<div class="tm-bg-primary-dark tm-block tm-block-avatar">
			<h2 class="tm-block-title">Loại tài khoản</h2>
			<div class="tm-avatar-container">
			<img
				src="/img/avatar.png"
				alt="Avatar"
				class="tm-avatar img-fluid mb-4"
			/>
			<a href="#" class="tm-avatar-delete-link">
				<i class="far fa-trash-alt tm-product-delete-icon"></i>
			</a>
			</div>
			{{!-- <button class="btn btn-primary btn-block text-uppercase">
			Tải ảnh đại diện
			</button> --}}
		</div>
		</div>
		<div class="tm-block-col tm-col-account-settings">
		<div class="tm-bg-primary-dark tm-block tm-block-settings">
			<h2 class="tm-block-title">Thay đổi mật khẩu</h2>
			<form action="/admin/profile/change-password" class="tm-signup-form row" method="post">
			<div class="form-group col-lg-12">
				<label for="password">Nhập mật khẩu mới</label>
				<input
				id="password"
				name="password"
				type="password"
				class="form-control validate"
				required
				oninvalid="this.setCustomValidity('Mục này không được để trống')"
				oninput="this.setCustomValidity('')"
				maxlength="16"
				/>
			</div>
			<div class="form-group col-lg-12">
				<label for="confirm_password">Nhập lại mật khẩu</label>
				<input
				id="confirm_password"
				name="confirm_password"
				type="password"
				class="form-control validate"
				on=""
				required
				oninvalid="this.setCustomValidity(' ')"
				oninput="this.setCustomValidity('')"
				maxlength="16"
				/>
				<label id='message'></label>
			</div>

		<div class="col row align-self-center">
			<div class="col-3"></div>
					<button type="submit" class=" col btn btn-primary btn-block text-uppercase">Cập nhật mật khẩu</button>
			<div class="col-3"></div>

				</div>

			</form>
		</div>
		</div>
	</div>
</div>
<script>
$(' #confirm_password').on('keyup', function () {
	if ($('#password').val() == $('#confirm_password').val()) {
	$('#message').html('').css('color', 'green');
	} else
	$('#message').html('Mật khẩu không khớp').css('color', 'red');
});
</script>