
{{> header }}
<div class="container mt-5">
	<div class="row tm-content-row">
		<div class="col-12 tm-block-col">

		</div>
	</div>
	<!-- row -->
	<div class="row tm-content-row justify-content-center">
		<div class="tm-block-col tm-col-account-settings">
		<div class="tm-bg-primary-dark tm-block tm-block-settings">
			<h2 class="tm-block-title">Thay đổi mật khẩu</h2>
			{{#if error}}
			<div class="alert alert-danger">
					{{error}}
			</div>
			{{/if}}
			<div id = "change-password-error">
            </div>
			<form action="/profile/change-password" class="tm-signup-form row" method="post" id="change-password-form">
				<div class="form-group col-lg-12">
					<label for="oldpassword">Nhập mật khẩu cũ</label>
					<input
						id="oldpassword"
						name="oldpassword"
						type="password"
						class="form-control validate"
						required
						oninvalid="this.setCustomValidity('Mục này không được để trống')"
						oninput="this.setCustomValidity('')"
					/>
				</div>
				<div class="form-group col-lg-12">
					<label for="newpassword">Nhập mật khẩu mới</label>
					<input
						id="newpassword"
						name="newpassword"
						type="password"
						class="form-control validate"
						required
						oninvalid="this.setCustomValidity('Mục này không được để trống')"
						oninput="this.setCustomValidity('')"
					/>
				</div>
				<div class="form-group col-lg-12">
					<label for="confirm_password">Nhập lại mật khẩu</label>
					<input
						id="renewpassword"
						name="renewpassword"
						type="password"
						class="form-control validate"
						on=""
						required
						oninvalid="this.setCustomValidity(' ')"
						oninput="this.setCustomValidity('')"
					/>
					<label id='message'></label>
				</div>

				<div class="col row align-self-center">
					<div class="col-3"></div>
						<button onclick="checkPassword()" type="button" class=" col btn btn-primary btn-block text-uppercase">Cập nhật mật khẩu</button>
					<div class="col-3"></div>
				</div>

			</form>
		</div>
		</div>
	</div>
</div>
<script>
$('#renewpassword').on('keyup', function () {
	if ($('#newpassword').val() == $('#renewpassword').val()) {
	$('#message').html('').css('color', 'green');
	} else
	$('#message').html('Mật khẩu không khớp').css('color', 'red');
});
</script>