            {{> header }}
            <div class="container mt-5">
               
                    <div class="col-12 ">
                        <div class="tm-bg-primary-dark ">
                           
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID đơn hàng </th>
                                        <th scope="col">Tên khách hàng</th>
                                        <th scope="col">Nơi nhận</th>
                                        <th scope="col">Thành tiền</th>
                                        <th scope="col">Trang thái đơn hàng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"><b>#122349</b></th>
                                        <td><b>Nguyễn Nam</b></td>
                                        <td><b>TP.HCM</b></td>
                                        <td><b>500$</b></td>
                                        <td>
                                            <div class="tm-status-circle moving">
                                            </div>Đang vận chuyển
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><b>#122348</b></th>
                                        <td><b>Lê An Khương</b></td>
                                        <td><b>BRVT</b></td>
                                        <td><b>1000$</b></td>
                                        <td>
                                            <div class="tm-status-circle pending">
                                            </div>Chờ xác nhận
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><b>#122347</b></th>
                                        
                                        <td><b>Đinh Trần Xuân Thi</b></td>
                                        <td><b>Hà Nội </b></td>
                                        <td><b>2000$</b></td>
                                        <td>
                                            <div class="tm-status-circle cancelled">
                                            </div>Đã huỷ
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><b>#122346</b></th>
                                       
                                        <td><b>Châu Lý Phương Trinh</b></td>
                                        <td><b>Gia Lai</b></td>
                                        <td><b>5000$</b></td>
                                        <td>
                                            <div class="tm-status-circle moving">
                                            </div>Đang vận chuyển
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><b>#122345</b></th>
                                        <td><b>Nguyễn Thành Nam</b></td>
                                        <td><b>Thanh Hoá</b></td>
                                        <td><b>10000$</b></td>
                                        <td>
                                            <div class="tm-status-circle moving">
                                            </div>Đang vận chuyển
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><b>#122349</b></th>
                                        <td><b>Nguyễn Nam</b></td>
                                        <td><b>TP.HCM</b></td>
                                        <td><b>500$</b></td>
                                        <td>
                                            <div class="tm-status-circle moving">
                                            </div>Đang vận chuyển
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><b>#122348</b></th>
                                        <td><b>Lê An Khương</b></td>
                                        <td><b>BRVT</b></td>
                                        <td><b>1000$</b></td>
                                        <td>
                                            <div class="tm-status-circle pending">
                                            </div>Chờ xác nhận
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><b>#122347</b></th>
                                        
                                        <td><b>Đinh Trần Xuân Thi</b></td>
                                        <td><b>Hà Nội </b></td>
                                        <td><b>2000$</b></td>
                                        <td>
                                            <div class="tm-status-circle cancelled">
                                            </div>Đã huỷ
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><b>#122346</b></th>
                                       
                                        <td><b>Châu Lý Phương Trinh</b></td>
                                        <td><b>Gia Lai</b></td>
                                        <td><b>5000$</b></td>
                                        <td>
                                            <div class="tm-status-circle moving">
                                            </div>Đang vận chuyển
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><b>#122345</b></th>
                                        <td><b>Nguyễn Thành Nam</b></td>
                                        <td><b>Thanh Hoá</b></td>
                                        <td><b>10000$</b></td>
                                        <td>
                                            <div class="tm-status-circle moving">
                                            </div>Đang vận chuyển
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {{> footer }}
</body>
