{{> header }}
<div class="container tm-mt-big tm-mb-big">
	<div class="row">
		<div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 mx-auto">
			<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
				<div class="row">
					<div class="col-12">
						<h2 class="tm-block-title d-inline-block">Thêm loại sản phẩm mới</h2>
					</div>
				</div>

				<form method="POST" action="/categories/store-category" class="tm-edit-product-form">
					<div class="row tm-edit-product-row">
						<div class="col-xl-12 col-lg-12 col-md-12">
							<div class="form-group mb-3">
								<label for="category_name">Tên loại sản phẩm
								</label>
								<input id="category_name" name="category_name" type="text" class="form-control validate"
									placeholder="Ví dụ: Loa siêu thanh,.." required />
							</div>
						</div>

						<div class="col-xl-12 col-lg-12 col-md-12">
							<div class="form-group mb-3">
								<label for="parent_category">Nhóm sản phẩm </label>
								<select class="custom-select tm-select-accounts" id="parent_category" name="parent_category">

									<option selected> Chọn nhóm sản phẩm </option>
									<option value="1">Tai nghe</option>
									<option value="2">Loa</option>
									<option value="3">Không có</option>

								</select>
							</div>
						</div>

						<div class="form-group mb-12 col-xs-12 col-sm-12">
							<label for="descriptions">Mô tả chi tiết</label>
							<input id="descriptions" name="descriptions" type="text" class="form-control validate"
								placeholder="Ví dụ: Công nghệ hiện đại, Bluetooth 5.0" data-large-mode="true" />
						</div>

						<div class="mb-12 col-xs-12 col-sm-12">
							<button type="submit" class="btn btn-primary btn-block text-uppercase">Thêm loại sản phẩm</button>
						</div>
						</div>
				</form>
			</div>
		</div>
	</div>

</div>