        {{> header }}
          <div class="container mt-5">
               
            <div class="col-12 ">
                <div class="tm-bg-primary-dark ">
                   
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID đơn hàng </th>
                                <th scope="col">Tên khách hàng</th>
                                <th scope="col">Địa chỉ</th>
                                <th scope="col">Tổng chi tiêu</th>
                                <th scope="col">Nhóm khách hàng</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><b>#122349</b></th>
                                <td><b>Nguyễn Nam</b></td>
                                <td><b>TP.HCM</b></td>
                                <td><b>10$</b></td>
                                <td>NEW</td>
                                <td><button><i class="fas fa-lock"></i>Locked</button></td>
                            </tr>
                            <tr>
                                <th scope="row"><b>#122348</b></th>
                                <td><b>Lê An Khương</b></td>
                                <td><b>BRVT</b></td>
                                <td><b>1000$</b></td>
                                <td>VIP</td>
                            </tr>
                            <tr>
                                <th scope="row"><b>#122347</b></th>
                                
                                <td><b>Đinh Trần Xuân Thi</b></td>
                                <td><b>Hà Nội </b></td>
                                <td><b>2000$</b></td>
                                <td>VIP</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row"><b>#122346</b></th>
                               
                                <td><b>Châu Lý Phương Trinh</b></td>
                                <td><b>Gia Lai</b></td>
                                <td><b>5000$</b></td>
                                <td>VIP</td>
                                <td><button><i class="fas fa-lock"></i>Locked</button></td>
                            </tr>
                            <tr>
                                <th scope="row"><b>#122345</b></th>
                                <td><b>Nguyễn Thành Nam</b></td>
                                <td><b>Thanh Hoá</b></td>
                                <td><b>10000$</b></td>
                                <td>VIP</td>
                                <td><button><i class="fas fa-lock"></i>Locked</button></td>
                            </tr>
                            <tr>
                              <th scope="row"><b>#122349</b></th>
                              <td><b>Nguyễn Nam</b></td>
                              <td><b>TP.HCM</b></td>
                              <td><b>10$</b></td>
                              <td>NEW</td>
                              <td></td>
                          </tr>
                          <tr>
                              <th scope="row"><b>#122348</b></th>
                              <td><b>Lê An Khương</b></td>
                              <td><b>BRVT</b></td>
                              <td><b>1000$</b></td>
                              <td>VIP</td>
                              <td></td>
                          </tr>
                          <tr>
                              <th scope="row"><b>#122347</b></th>
                              
                              <td><b>Đinh Trần Xuân Thi</b></td>
                              <td><b>Hà Nội </b></td>
                              <td><b>2000$</b></td>
                              <td>VIP</td>
                              <td></td>
                          </tr>
                          <tr>
                              <th scope="row"><b>#122346</b></th>
                             
                              <td><b>Châu Lý Phương Trinh</b></td>
                              <td><b>Gia Lai</b></td>
                              <td><b>5000$</b></td>
                              <td>VIP</td>
                              <td></td>
                          </tr>
                          <tr>
                              <th scope="row"><b>#122345</b></th>
                              <td><b>Nguyễn Thành Nam</b></td>
                              <td><b>Thanh Hoá</b></td>
                              <td><b>10000$</b></td>
                              <td>VIP</td>
                              <td></td>
                          </tr><tr>
                            <th scope="row"><b>#122349</b></th>
                            <td><b>Nguyễn Nam</b></td>
                            <td><b>TP.HCM</b></td>
                            <td><b>10$</b></td>
                            <td>NEW</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"><b>#122348</b></th>
                            <td><b>Lê An Khương</b></td>
                            <td><b>BRVT</b></td>
                            <td><b>1000$</b></td>
                            <td>VIP</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"><b>#122347</b></th>
                            
                            <td><b>Đinh Trần Xuân Thi</b></td>
                            <td><b>Hà Nội </b></td>
                            <td><b>2000$</b></td>
                            <td>VIP</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"><b>#122346</b></th>
                           
                            <td><b>Châu Lý Phương Trinh</b></td>
                            <td><b>Gia Lai</b></td>
                            <td><b>5000$</b></td>
                            <td>VIP</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"><b>#122345</b></th>
                            <td><b>Nguyễn Thành Nam</b></td>
                            <td><b>Thanh Hoá</b></td>
                            <td><b>10000$</b></td>
                            <td>VIP</td>
                            <td><button><i class="fas fa-lock"></i>Locked</button></td>
                        </tr><tr>
                                <th scope="row"><b>#122349</b></th>
                                <td><b>Nguyễn Nam</b></td>
                                <td><b>TP.HCM</b></td>
                                <td><b>10$</b></td>
                                <td>NEW</td>
                            </tr>
                            <tr>
                                <th scope="row"><b>#122348</b></th>
                                <td><b>Lê An Khương</b></td>
                                <td><b>BRVT</b></td>
                                <td><b>1000$</b></td>
                                <td>VIP</td>
                            </tr>
                            
                         
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      
    <div class="container mt-5">          
      <ul class="pagination pagination-sm justify-content-center">
          <li class="page-item"><a class="page-link" href="#">Trước</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item disabled"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><a class="page-link" href="#">Sau</a></li>
        </ul>
    </div>