            {{> header }}
            <div class="container mt-5">

                    <div class="col-12 ">
                        <div class="tm-bg-primary-dark ">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Năm </th>
                                        <th scope="col">Doanh thu</th>
                                        <th scope="col">Ghi chú</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each yearlyRevenue}}
                                    <tr>
                                        <th scope="row"><b>{{year}}</b></th>
                                        <td><b>{{formatPrice totalRevenue}} vnđ</b></td>
                                        <td></td>
                                    </tr>
                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <div class="container mt-5">
                <ul class="pagination pagination-sm justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">Trước</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">Sau</a></li>
                  </ul>
              </div>

