{{> header }}
<div class="container tm-mt-big tm-mb-big">
	<div class="row">
		<div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 mx-auto">
			<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
				<div class="row">
					<div class="col-12">
						<h2 class="tm-block-title d-inline-block">Thêm vouncher</h2>
					</div>
				</div>

				<form method="POST" action="/vouchers/store-voucher" class="tm-edit-product-form form-add-voucher" id = "add-voucher-form">
					<div class="row tm-edit-product-row">
						<div class="col-xl-12 col-lg-12 col-md-12">
							<div class="form-group mb-3">
								<label for="voucher_code">Mã giảm giá
								</label>
								<input id="voucher_code" name="voucher_code" type="text" class="form-control validate"
									placeholder="Ví dụ: NVT2412,.."  onkeydown="upperCaseF(this)" required/>
							</div>
							<div id="voucher-error" style="color:red;"></div>
							<div id="voucher-success" style="color:green;"></div>
						</div>

						<div class="form-group mb-12 col-xs-12 col-sm-12">
							<label for="discount">Mức giảm </label>
							<input id="discount" name="discount" type="number" class="form-control validate" placeholder="Ví dụ: 50"
								data-large-mode="true" required />
						</div>

						<div class="form-group mb-12 col-xs-12 col-sm-12 ">
							<label for="start_date">Ngày bắt đầu</label>
							<div class="input-group date" id="start_date">
								<input type="text" class="form-control" name='start_date' required readonly />
								<span class="input-group-append">
									<span class="input-group-text bg-white">
										<i class="fa fa-calendar"></i>
									</span>
								</span>
							</div>
						</div>

						<div class="form-group mb-12 col-xs-12 col-sm-12">
							<label for="start_date">Ngày kết thúc</label>
							<div class="input-group date" id="end_date">
								<input type="text" class="form-control" name='end_date'  required readonly />
								<span class="input-group-append">
									<span class="input-group-text bg-white">
										<i class="fa fa-calendar"></i>
									</span>
								</span>
							</div>
						</div>

						<div class="mb-12 col-xs-12 col-sm-12">
							<button type="submit" class="btn btn-primary btn-block text-uppercase" id= "submit-check-voucher">Thêm
								voucher</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
	$(function () {
		$('#start_date').datepicker();
	});
	$(function () {
		$('#end_date').datepicker();
	});

	function upperCaseF(a) {
		setTimeout(function () {
			a.value = a.value.toUpperCase();
		}, 1);
	}

</script>